<mat-toolbar color="primary" *ngIf="authService.userName | async">
  <div class="toolbar-content">
    <span class="welcome-content">
      Welcome!!! {{ authService.userName | async}}
    </span>
    
    <button mat-button><a class="nav-link" routerLink="/books-search" routerLinkActive="active">Books search</a></button>
    <button mat-button><a class="nav-link" routerLink="/wish-list" routerLinkActive="active">Wish list</a></button>
  </div>
  
</mat-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>